html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 18px;
}

#map {
	height: 100%;
	left: 25%;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.container {
	height: 100%;
	position: relative;
}

.box {
	background: #424949;
	height: 100%;

	width: 25%;
	text-align: left;
}

.section {
	height: 5%;
}