html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 18px;
	overflow: hidden;
}

header {
	color: #525454;
	height: 50px;
	line-height: 60px;
	font-size: 26px;
	text-align: center;
	border-bottom: 1px solid #999;
}

#map {
	height: 100%;
	position: absolute;
	bottom: 0px;
	right: 0%;
	left: 0%;
}

#hide-locations,
#show-locations {
	width: 49%;
	position: relative;
	padding: 5px;
}

.container {
	height: 100%;
	position: relative;
}

.box {
	background: #fff;
	height: 100%;
	width: 25%;
	text-align: left;
}

.section {
	height: 1em;
	border-top: 1px solid #999;
}

#show-sidebar {
  background:none;
  position:absolute;
  left: 0;
  color: #525454;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  display: inline-block;
}

.hide-sidebar {
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}