body {
	max-width: 100%;
	display: inline-block;
}

.split {
	display: inline-block;
	width:20%;
	max-width: 20%;
}


.split p {
	display: block;
	text-align: center;
	padding-top: 1em;
	width: 20%;
	max-width: 20%;
}


.pic {
	width: 20%;
	max-width: 20%;
}

.image-width {
	width:10%;
	max-width: 10%;
	margin: 0 auto;
	text-align: center;
}